.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/7604fa01-e6c4-46b4-abe8-143bc79e9fb7.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px 69px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: url("images/2a25d154-6854-4e52-901f-41aaac7ae41e.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(0,0,0,1);
  animation-duration: 1000ms;
  width: 241px;
  margin: 25px auto 0;
}

.u-section-2 .u-group-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 482px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 246px;
    margin-top: 21px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 8px;
    margin-bottom: 30px;
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: -5px -12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: url("images/e8d2030d-f48c-45e0-a8d6-1ee7b915b6a5.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  width: 337px;
  margin: 24px auto 0;
}

.u-section-3 .u-image-1 {
  width: 338px;
  height: 266px;
  box-shadow: 2px -2px 25px 17px rgba(255,255,255,0.75);
  object-position: 50% 92.06%;
  margin: 115px auto 0 15px;
}

.u-section-3 .u-image-2 {
  width: 704px;
  height: 217px;
  box-shadow: 2px -2px 25px 17px rgba(255,255,255,0.8);
  margin: -230px 24px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-image-1 {
    width: 330px;
    height: 321px;
    margin-top: 63px;
  }

  .u-section-3 .u-image-2 {
    width: 566px;
    height: 193px;
    margin-top: -266px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-2 {
    width: 540px;
    height: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-left: 2px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 116px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  text-shadow: -2px -2px 3px rgba(0,0,0,0.7);
  width: 273px;
  margin: 51px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 51px;
  width: 51px;
  margin: 21px auto 0 159px;
}

.u-section-4 .u-icon-2 {
  height: 51px;
  width: 51px;
  color: rgb(17, 17, 17) !important;
  margin: -51px auto 0 527px;
}

.u-section-4 .u-icon-3 {
  height: 50px;
  width: 51px;
  color: rgb(17, 17, 17) !important;
  margin: -51px auto 0 929px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  margin: 42px 837px 0 66px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  width: 240px;
  margin: -54px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  margin: -54px 80px 0 849px;
}

.u-section-4 .u-icon-4 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 18px auto 0 161px;
}

.u-section-4 .u-icon-5 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -47px 152px 0 auto;
}

.u-section-4 .u-icon-6 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -49px auto 0;
}

.u-section-4 .u-icon-7 {
  height: 51px;
  width: 51px;
  color: rgb(17, 17, 17) !important;
  margin: 39px auto 0;
}

.u-section-4 .u-icon-8 {
  height: 51px;
  width: 51px;
  color: rgb(17, 17, 17) !important;
  margin: -51px auto 0 151px;
}

.u-section-4 .u-icon-9 {
  height: 51px;
  width: 51px;
  color: rgb(17, 17, 17) !important;
  margin: -51px auto 0 929px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  width: 155px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  margin: -36px 846px 0 56px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  margin: -36px -80px 0 865px;
}

.u-section-4 .u-icon-10 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 12px 621px 0 auto;
}

.u-section-4 .u-icon-11 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -51px 472px 0 auto;
}

.u-section-4 .u-icon-12 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -45px auto 0 56px;
}

.u-section-4 .u-icon-13 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: -48px auto 0 233px;
}

.u-section-4 .u-icon-14 {
  background-image: none;
  width: 48px;
  height: 48px;
  margin: -48px auto 0 865px;
}

.u-section-4 .u-icon-15 {
  background-image: none;
  width: 48px;
  height: 46px;
  margin: -50px 113px 0 auto;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  margin: 15px 450px 0 598px;
}

.u-section-4 .u-text-9 {
  font-style: italic;
  margin: -50px 596px 0 446px;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  margin: -47px 837px 0 210px;
}

.u-section-4 .u-text-11 {
  font-style: italic;
  margin: -53px 1011px 0 30px;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  margin: -55px 102px 0 740px;
}

.u-section-4 .u-text-13 {
  font-style: italic;
  margin: -50px -10px 60px 861px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-icon-1 {
    height: 52px;
    width: 52px;
    margin-top: 12px;
    margin-left: 106px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: -52px;
    margin-left: 445px;
  }

  .u-section-4 .u-icon-3 {
    height: 51px;
    margin-left: 783px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-right: 690px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-3 {
    width: 250px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 25px;
    margin-left: 705px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 28px;
    margin-left: 108px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 783px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: -58px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 46px;
    margin-left: 445px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: -49px;
    margin-left: 106px;
  }

  .u-section-4 .u-icon-9 {
    margin-right: 123px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    width: 158px;
    margin-top: 6px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -35px;
    margin-right: 690px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -33px;
    margin-right: 62px;
    margin-left: 706px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: 57px;
    margin-right: 512px;
    margin-left: 397px;
  }

  .u-section-4 .u-icon-11 {
    margin-right: 381px;
  }

  .u-section-4 .u-icon-12 {
    margin-top: -48px;
    margin-left: 58px;
  }

  .u-section-4 .u-icon-13 {
    margin-left: 179px;
  }

  .u-section-4 .u-icon-14 {
    margin-top: -40px;
    margin-left: 711px;
  }

  .u-section-4 .u-icon-15 {
    height: 48px;
    margin-right: 69px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -112px;
    margin-right: 361px;
    margin-left: 491px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 470px;
    margin-left: 371px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-right: 689px;
    margin-left: 158px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-right: 808px;
    margin-left: 33px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: -44px;
    margin-right: 156px;
    margin-left: 685px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin-right: 49px;
    margin-left: 802px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-2 {
    margin-left: 340px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 600px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 484px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 509px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 600px;
  }

  .u-section-4 .u-icon-7 {
    margin-left: 340px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: -80px;
    margin-left: 548px;
  }

  .u-section-4 .u-icon-10 {
    margin-right: 392px;
    margin-left: 304px;
  }

  .u-section-4 .u-icon-11 {
    margin-right: 292px;
  }

  .u-section-4 .u-icon-14 {
    margin-left: 545px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 240px;
    margin-left: 388px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 360px;
    margin-left: 261px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 579px;
    margin-left: 48px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 621px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 46px;
    margin-left: 575px;
  }

  .u-section-4 .u-text-13 {
    margin-right: -10px;
    margin-left: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 466px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 255px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 450px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 304px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 329px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 450px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: -210px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 155px;
    margin-left: 255px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -100px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 56px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 302px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -85px;
    margin-left: 368px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: 70px;
    margin-right: 294px;
    margin-left: 228px;
  }

  .u-section-4 .u-icon-11 {
    margin-right: 219px;
  }

  .u-section-4 .u-icon-14 {
    margin-top: -53px;
    margin-left: 409px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -99px;
    margin-right: 161px;
    margin-left: 298px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 270px;
    margin-left: 171px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 447px;
    margin-left: 0;
  }

  .u-section-4 .u-text-11 {
    margin-right: 441px;
  }

  .u-section-4 .u-text-12 {
    margin-top: -82px;
    margin-right: 0;
    margin-left: 441px;
  }

  .u-section-4 .u-text-13 {
    margin-bottom: 19px;
    margin-left: 451px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 25px;
    margin-right: 5px;
    margin-left: -2px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: 84px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 155px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 276px;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
    margin-right: 106px;
    margin-left: -2px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 2px;
    margin-left: -2px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 2px;
    margin-left: 127px;
  }

  .u-section-4 .u-icon-4 {
    margin-left: 89px;
  }

  .u-section-4 .u-icon-5 {
    margin-right: 96px;
    margin-left: 279px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: -349px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 277px;
    margin-left: 161px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: -106px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -210px;
    margin-right: 77px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 41px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 1px;
    margin-right: 102px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -83px;
    margin-left: 168px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: 71px;
    margin-right: 185px;
    margin-left: 144px;
  }

  .u-section-4 .u-icon-11 {
    margin-right: 138px;
  }

  .u-section-4 .u-icon-12 {
    margin-top: -23px;
  }

  .u-section-4 .u-icon-13 {
    margin-left: 113px;
  }

  .u-section-4 .u-icon-14 {
    margin-top: -79px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -72px;
    margin-right: 61px;
    margin-left: 198px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 170px;
    margin-left: 71px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -62px;
    margin-right: 247px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 241px;
  }

  .u-section-4 .u-text-12 {
    margin-top: -94px;
    margin-left: 241px;
  }

  .u-section-4 .u-text-13 {
    margin-bottom: 60px;
    margin-left: 251px;
  }
}.u-section-5 {
  background-image: url("images/32f82955-1757-4ea7-b04d-482e6daa0bfa.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  width: 305px;
  margin: 25px auto 0;
}

.u-section-5 .u-image-1 {
  width: 286px;
  height: 286px;
  background-image: url("images/67ae32b4-d045-486f-823d-dd0f59ca62f8.jpg");
  background-position: 50% 0%;
  margin: 66px auto 0 411px;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  margin: 61px 352px 0 319px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  width: 571px;
  margin: -84px auto 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 57px;
  min-height: 16px;
  width: 231px;
  min-width: 108px;
  margin: 32px auto 21px 438px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(14, 118, 168) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 313px;
    margin-left: 290px;
  }

  .u-section-5 .u-image-1 {
    width: 279px;
    height: 279px;
    margin-top: 67px;
    margin-left: 320px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 247px;
    margin-left: 224px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -66px;
    margin-right: 275px;
    margin-left: 253px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 20px;
    margin-bottom: 59px;
    margin-left: 343px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-5 .u-icon-3 {
    color: rgb(0, 122, 185) !important;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 137px;
    margin-left: 114px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 165px;
    margin-left: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    background-position: 40.03% 50%;
  }

  .u-section-5 .u-image-1 {
    margin-left: 261px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 47px;
    margin-left: 24px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 75px;
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 286px;
    height: 286px;
    margin-left: 61px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 59px;
  }
}